# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# Node modules and dependencies
node_modules/
npm-debug.log


node_modules/typescript/README.md
node_modules/typescript/lib/cancellationToken.js
node_modules/typescript/lib/lib.dom.d.ts
node_modules/typescript/lib/lib.dom.iterable.d.ts
node_modules/typescript/lib/lib.es5.d.ts
node_modules/typescript/lib/lib.es2016.d.ts
node_modules/typescript/lib/lib.es2018.full.d.ts
node_modules/typescript/lib/lib.es2018.intl.d.ts
node_modules/typescript/lib/lib.es2019.full.d.ts
node_modules/typescript/lib/lib.es2020.full.d.ts
node_modules/typescript/lib/lib.es2020.intl.d.ts
node_modules/typescript/lib/lib.es2020.string.d.ts
node_modules/typescript/lib/lib.es2021.full.d.ts
node_modules/typescript/lib/lib.es2021.intl.d.ts
node_modules/typescript/lib/lib.es2022.full.d.ts
node_modules/typescript/lib/lib.es2022.intl.d.ts
node_modules/typescript/lib/lib.es2023.full.d.ts
node_modules/typescript/lib/lib.esnext.d.ts
node_modules/typescript/lib/lib.esnext.disposable.d.ts
node_modules/typescript/lib/lib.esnext.full.d.ts
node_modules/typescript/lib/lib.webworker.d.ts
node_modules/typescript/lib/lib.webworker.iterable.d.ts
node_modules/typescript/lib/tsc.js
node_modules/typescript/lib/tsserver.js
node_modules/typescript/lib/typescript.d.ts
node_modules/typescript/lib/typescript.js
node_modules/typescript/lib/typingsInstaller.js
node_modules/typescript/lib/cs/diagnosticMessages.generated.json
node_modules/typescript/lib/de/diagnosticMessages.generated.json
node_modules/typescript/lib/es/diagnosticMessages.generated.json
node_modules/typescript/lib/fr/diagnosticMessages.generated.json
node_modules/typescript/lib/it/diagnosticMessages.generated.json
node_modules/typescript/lib/ja/diagnosticMessages.generated.json
node_modules/typescript/lib/ko/diagnosticMessages.generated.json
node_modules/typescript/lib/pl/diagnosticMessages.generated.json
node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
node_modules/typescript/lib/ru/diagnosticMessages.generated.json
node_modules/typescript/lib/tr/diagnosticMessages.generated.json
node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
